.logo {
    display: inline;
    img {
        @extend .icon, .icon--background-white;
        box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
    }

    p {
        @extend .text--font-2, .text--color-grey-5;

        &:first-of-type {
            @extend .text--weight-2;
        }

        &:last-of-type {
            @extend .text--weight-1;
        }
    }

    div {
        display: inline-block;
    }

    &--size-small {
        display: inline-block;
        margin-left: 0.5rem;

        p {
            @extend .text--size-2;
        }
    }

    &--size-big {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            @extend .icon--background-gold;
            width: 4.5rem !important;
            height: 4.5rem !important;
            padding: 1.25rem !important;
        }

        p {
            @extend .text--size-4;
        }
    }
}