.room {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    .room-img {
        width: 100%;
        aspect-ratio: 16/9;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .room-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        margin-top: 2rem;
        padding-bottom: 2rem;
        background-color: $color-white;

        .paragraph-1 {
            width: 50%;
            min-width: 17.5rem;
        }
    }
}