.rooms {
    .navigation_button {
        background-color: $color-white;

        &:hover {
            background-color: $color-gold;
            cursor: pointer;

            path {
                fill: $color-white;
            }
        }

        width: 2rem !important;
        height: 2rem !important;
        padding: 0.5rem !important;
        bottom: 0.75rem;
        right: 2rem;
        z-index: 15;
    }
}

@media only screen and (min-width: 1000px) {
    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        grid-auto-rows: auto;
    }
}